.DS_Store
.env
.idea
.vscode/
.licitte/
.venv/
*.sqlite3*
*pyc
__pycache__
staticfiles
.ipynb_checkpoints/
*.ipynb
*old*
media/
*sublime*
proto/
extra/
Caddyfile
node_modules/
package.json
package-lock.json
.python-version
